<section class="comments card animate__animated animate__slideInLeft animate__slow">
    <div class="card-header">Comments</div>
    {{#if this}}
    {{#each this}}
        <div class="comment">
            <p>{{user.username}} · <span class="drk">{{format_date created_at}}</span></p>
            <p>{{comment_text}}</p>
        </div>
    {{/each}}
    {{else}}
        <div class="comment">
            <p>There are no comments</p>
        </div>
    {{/if}}
    </div>
</section> 