<form class="comment-form card animate__animated animate__slideInRight animate__slow">
    <div class="card-header">Add New Comment</div>
    <div class="comment-form-body">
        <div>
            <textarea placeholder="Enter Comment Here" name="comment-body" class="form-textarea"></textarea>
        </div>
        <div>
            <button type="submit" class="btn">Add Comment</button>
            <button type="button" class="upvote-btn"><i class="fa-solid fa-thumbs-up"></i></button>
            <button type="button" class="downvote-btn"><i class="fa-solid fa-thumbs-down"></i></button>
        </div>
    </div>
</form> 