<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rodde-It</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="icon" type="image/x-icon" href="/images/rodde-it-logo.png">
  <script src="https://kit.fontawesome.com/d61d6a6999.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="nav">
            <div class="logo-title">
                <img class="logo" src="/images/rodde-it-logo.png" alt="rodde-it-logo">
                <h1 class="app-title">Rodde-It</h1>
            </div>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                {{#if loggedIn}}
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
                <button id="logout" class="btn-no-style">Logout</button>
                {{else}}
                <li>
                    <a href="/login">Login</a>
                </li>
                {{/if}}
            </ul>
        </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>
  {{#if loggedIn}}
 <script src="/javascript/logout.js"></script>
 {{/if}}
</body>

</html>