@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

:root {
	--grey: #cdc3c1;
    --drk-grey: #423c3a;
	--drk-ong: #f58111;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
}

html {
    background-color: var(--grey);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

a,
a:hover,
a:focus,
a:visited {
	color: var(--drk-ong);
	text-decoration: none;
    font-weight: bold;
}

.nav ul {
    padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
    list-style: none;
}

.nav li {
    padding: 10px;
    margin: 0 10px;
    border: 1px solid var(--drk-ong);
    border-radius: 30px;
}

.nav li:hover {
    background-color: var(--drk-ong);
}

a:hover, .comment-count:hover {
    color: white;
}

.logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;
    border: 1px solid var(--drk-ong);
    border-radius: 50%;
    margin: 10px;
}

.app-title {
    font-size: 2rem;
    color: var(--drk-ong);
}

.btn, 
.upvote-btn, 
.downvote-btn {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 5px;
    width: 50%;
    display: block;
    margin: 10px auto;
    border-radius: 30px;
    color: var(--drk-ong);
    border: 1px solid var(--drk-ong);
    background-color: white;
}
  
.btn:hover, 
.upvote-btn:hover, 
.downvote-btn:hover {
    color: white;
    background-color: var(--drk-ong);
    cursor: pointer;
}

.btn-no-style,
.btn-no-style:active {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--drk-ong);
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    margin: 0 10px;
    border: 1px solid var(--drk-ong);
    border-radius: 30px;
}

.btn-no-style:hover {
    color: white;
    background-color: var(--drk-ong);
}

.btn-no-style:focus {
    outline: none;
}

.fa-comment {
    margin: 0 5px 0 0;
    color: var(--drk-grey);
}

.card {
	margin: 20px;
	border: 1px solid var(--drk-grey);
	border-radius: 10px;
}

.card-header {
	color: var(--drk-ong);
    font-weight: bold;
    background-color: white;
    border-radius: 10px 10px 0 0;
	padding: 10px 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card-body {
	padding: 15px;
}

.title {
	font-weight: bold;
}

.meta {
	font-size: 15px;
}

.content {
	margin-bottom: 10px;
    color: black;
}

.comment-count {
    color: var(--drk-ong);
    font-weight: bold;
}

.comment-form-body {
    padding: 20px;
}

.comment {
    margin: 20px 15px;
}

.comment p {
    margin: 0;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
}
 
.form-label,
.form-input {
	display: block;
}

.form-label {
	font-size: 16px;
	margin: 0 0 0 5px;
}

.form-input,
.form-textarea {
	width: 100%;
	padding: 7px;
	margin: 5px 0 15px 0;
    font-size: 16px;
	border: 1px solid var(--drk-grey);
	border-radius: 10px;
}

input:focus, 
textarea:focus {
    outline: 1px solid var(--drk-ong);
}

.center {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

span {
    color: white;
}

.drk {
    color: var(--drk-ong);
}

.post-list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.post-list-item {
    margin: 15px;
    padding: 10px;
    background-color: white;
    color: var(--drk-ong);
    list-style: none;
    font-size: 15px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post-list-item:hover {
    background-color: var(--drk-ong);
    color: white;
}

#add-post-btn {
    background-color: white;
    color: var(--drk-ong);
    font-size: 15px;
    font-weight: bold;
    border: 1px solid var(--drk-ong);
    padding: 10px;
    margin: 20px 0 20px 0;
    border-radius: 30px;
}

#add-post-btn:hover {
    background-color: var(--drk-ong);
    color: white;
    cursor: pointer;
}

.dash-btn {
    background-color: white;
    color: var(--drk-ong);
    font-size: 15px;
    font-weight: bold;
    border: 1px solid var(--drk-ong);
    padding: 10px;
    margin: 20px 0 0 0;
    border-radius: 30px;
}

.dash-btn:hover {
    background-color: var(--drk-ong);
    color: white;
    cursor: pointer;
}